@import './../../../../../style/common';

.filter_panel {
    position: fixed;
    overflow-y: auto;
    top: 0px;
    right: 0;
    transform: translateX(100%);
    width: 50%;
    min-width: 550px;
    height: 100dvh;
    background: var(--white);
    box-shadow: -4px 0px 4px 0px #1F202226;
    border-left: 1px solid var(--black);
    transition: 0.7s;
    z-index: 146;
    will-change: transform;

    &.open {
        transform: translateX(0);
    }

    @include mediaMaxWidth(768) {
        width: 305px;
        min-width: 0;
    }

    .filter_content {
        position: relative;
        padding: 95px 30px 200px 30px;
        overflow: auto;
        height: 100%;

        @include mediaMaxWidth(768) {
            padding: 95px 30px 180px 30px;
        }
    }

    .data_tab, .table_tab{
        display: none;

        &.active {
            display: block;
            animation: Open 1s forwards ease;
        }
    }

    .tabs {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 24px;
        border-bottom: 1px solid var(--grey);
        margin-bottom: 24px;

        .tab {
            text-transform: uppercase;
            font-size: 24px;
            position: relative;
            font-weight: 450;
            color: var(--grey);
            line-height: 30px;
            cursor: pointer;

            &.active {
                color: var(--blue);
                
                &::before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: var(--blue);
                }
            }
        }
    }

    h3 {
        font-size: 24px;
        font-weight: 450;
        color: #000;
        line-height: 30px;
        margin-bottom: 12px;
        margin-top: 24px;
    }

    .check_box_container {
        display: grid;
        grid-template-columns: max-content max-content;
        gap: 6px 30px;
        margin-bottom: 20px;

        .custom_check_box {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            width: max-content;

            & input {
                appearance: none;
                position: relative;
                width: 16px;
                height: 16px;
                border: 1px solid var(--blue);
                display: flex;
                transition: 0.3s;
                cursor: pointer;
                
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-image: url('./icons/mark.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 16px;
                    height: 16px;
                    opacity: 0;
                    transition: 0.3s;
                }

                &:checked{
                    background-color: var(--blue);

                    &:after {
                        opacity: 1;
                    }
                }
            }

            & span {
                display: block;
                font-size: 16px;
            }
        }

        .table_check_box {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            width: max-content;

            & input {
                appearance: none;
                position: relative;
                width: 30px;
                height: 16px;
                border: 1px solid var(--blue);
                display: flex;
                transition: 0.3s;
                padding: 1px;
                cursor: pointer;
                
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 1px;
                    transform: translate(0, -50%);
                    width: 12px;
                    height: 12px;
                    transition: 0.3s;
                    background-color: var(--blue);
                }

                &.active{
                    background-color: var(--blue);

                    &:after {
                        transform: translate(14px, -50%);
                        background-color: var(--white);
                    }
                }
            }

            & span {
                display: block;
                font-size: 16px;
            }
        }
    }

    .main_button {
        max-width: 260px;
    }

    .link_block {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        gap: 6px;

        & a {
            font-size: 14px;
            text-decoration: underline;
        }
    }
}