@charset "UTF-8";
/*-------------Миксины----------------*/
.dashboard .line {
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #FFFFFF 0%, #1F2022 25%, #1F2022 50%, #1F2022 75%, #FFFFFF 100%);
}
.dashboard .auction .auction_flex {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 2px;
  margin-bottom: 12px;
}
.dashboard .auction .auction_flex .auction_spoiler {
  height: 44px;
  border: 1px solid var(--black);
  padding: 12px 10px;
  width: 100%;
  max-width: 458px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.dashboard .auction .auction_flex .auction_spoiler p {
  font-size: 16px;
  color: var(--black);
}
.dashboard .auction .auction_flex .auction_buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
}
.dashboard .auction .auction_flex .auction_buttons .main_button {
  max-width: 208px;
  padding: 0 20px;
}
@media screen and (max-width: 960px) {
  .dashboard .auction .auction_flex {
    flex-wrap: wrap;
    gap: 12px;
  }
  .dashboard .auction .auction_flex .auction_spoiler {
    max-width: 100%;
    min-width: 150px;
    flex: 1;
  }
  .dashboard .auction .auction_flex .auction_buttons {
    flex: 1;
  }
  .dashboard .auction .auction_flex .auction_buttons .main_button {
    max-width: none;
  }
}
.dashboard .bets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: flex-end;
  gap: 12px;
  width: 100%;
}
.dashboard .bets .main_input {
  flex: 1;
}
.dashboard .bets .turnover_input {
  flex: 1;
}
.dashboard .bets .turnover_input .turnover_input_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  height: 44px;
  padding: 0 10px;
  border: 1px solid var(--red);
  margin-top: 2px;
}
.dashboard .bets .turnover_input .turnover_input_wrapper input {
  height: 100%;
  flex: 1;
  color: var(--red);
}
@media (max-width: 768px) {
  .dashboard .bets .turnover_input .turnover_input_wrapper input {
    font-size: calc(14px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .dashboard .bets .turnover_input .turnover_input_wrapper input {
    font-size: calc(14px + 2 * 0.0520833333vw);
  }
}
.dashboard .tables_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 12px;
  margin-top: 20px;
}
.dashboard .tables_grid .bidder_table, .dashboard .tables_grid .latest_bids {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 218px;
  max-height: 218px;
  border: 1px solid var(--black);
}
.dashboard .tables_grid .bidder_table .table_title, .dashboard .tables_grid .latest_bids .table_title {
  margin-bottom: 6px;
  padding: 10px 10px 0 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.dashboard .tables_grid .bidder_table .table_title h3, .dashboard .tables_grid .latest_bids .table_title h3 {
  text-transform: uppercase;
  color: var(--black2);
  font-weight: 450;
  line-height: 25.64px;
}
@media (max-width: 768px) {
  .dashboard .tables_grid .bidder_table .table_title h3, .dashboard .tables_grid .latest_bids .table_title h3 {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .dashboard .tables_grid .bidder_table .table_title h3, .dashboard .tables_grid .latest_bids .table_title h3 {
    font-size: calc(16px + 4 * 0.0520833333vw);
  }
}
.dashboard .tables_grid .bidder_table .table_title .arrow_flex, .dashboard .tables_grid .latest_bids .table_title .arrow_flex {
  display: flex;
  align-items: center;
}
.dashboard .tables_grid .bidder_table .table_title .arrow_flex h4, .dashboard .tables_grid .latest_bids .table_title .arrow_flex h4 {
  font-size: 16px;
  color: var(--black);
}
.dashboard .tables_grid .bidder_table .table_list_wrapper, .dashboard .tables_grid .latest_bids .table_list_wrapper {
  padding: 0 10px;
  width: 100%;
  flex: 1;
  overflow: hidden;
  margin-top: 16px;
}
.dashboard .tables_grid .bidder_table .table_list_wrapper .table_list, .dashboard .tables_grid .latest_bids .table_list_wrapper .table_list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.dashboard .tables_grid .bidder_table .table_list_wrapper .table_list .bidder_item, .dashboard .tables_grid .latest_bids .table_list_wrapper .table_list .bidder_item {
  display: grid;
  grid-template-columns: minmax(178px, 1fr) 1fr 116px;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  height: 21px;
  color: var(--black);
}
.dashboard .tables_grid .bidder_table .table_list_wrapper .table_list .bidder_item .name, .dashboard .tables_grid .latest_bids .table_list_wrapper .table_list .bidder_item .name {
  color: var(--link);
}
.dashboard .tables_grid .bidder_table .table_list_wrapper .table_list .bidder_item .summ, .dashboard .tables_grid .latest_bids .table_list_wrapper .table_list .bidder_item .summ {
  text-align: center;
}
.dashboard .tables_grid .bidder_table .table_list_wrapper .table_list .bidder_item .start, .dashboard .tables_grid .latest_bids .table_list_wrapper .table_list .bidder_item .start {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}
.dashboard .tables_grid .bidder_table .table_list_wrapper .table_list .bidder_item .start .menu, .dashboard .tables_grid .latest_bids .table_list_wrapper .table_list .bidder_item .start .menu {
  display: flex;
  align-items: center;
  gap: 2px;
  flex-direction: column;
  width: 16px;
  flex-shrink: 0;
}
.dashboard .tables_grid .bidder_table .table_list_wrapper .table_list .bidder_item .start .menu span, .dashboard .tables_grid .latest_bids .table_list_wrapper .table_list .bidder_item .start .menu span {
  display: block;
  width: 2px;
  height: 2px;
  background-color: var(--black);
  border-radius: 50%;
}
.dashboard .tables_grid .bidder_table .table_list_wrapper .table_list .latest_bids_item, .dashboard .tables_grid .latest_bids .table_list_wrapper .table_list .latest_bids_item {
  display: grid;
  grid-template-columns: minmax(97px, 1fr) minmax(125px, 1fr) minmax(122px, 1fr) 53px;
  align-items: center;
  height: 18px;
  gap: 12px;
  font-size: 14px;
}
.dashboard .tables_grid .bidder_table .table_list_wrapper .table_list .latest_bids_item .lot_num, .dashboard .tables_grid .latest_bids .table_list_wrapper .table_list .latest_bids_item .lot_num {
  color: var(--link);
}
.dashboard .tables_grid .bidder_table .table_list_wrapper .table_list .latest_bids_item .time, .dashboard .tables_grid .bidder_table .table_list_wrapper .table_list .latest_bids_item .name, .dashboard .tables_grid .latest_bids .table_list_wrapper .table_list .latest_bids_item .time, .dashboard .tables_grid .latest_bids .table_list_wrapper .table_list .latest_bids_item .name {
  text-align: center;
}
.dashboard .tables_grid .bidder_table .table_list_wrapper .table_list .latest_bids_item .start, .dashboard .tables_grid .latest_bids .table_list_wrapper .table_list .latest_bids_item .start {
  text-align: end;
  color: var(--green);
}
.dashboard .enquiries {
  margin-top: 20px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 222px;
  max-height: 222px;
  border: 1px solid var(--black);
}
.dashboard .enquiries .enquiries_title {
  margin-bottom: 12px;
  padding: 10px 10px 0 10px;
  text-transform: uppercase;
  color: var(--black2);
  font-weight: 450;
}
@media (max-width: 768px) {
  .dashboard .enquiries .enquiries_title {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .dashboard .enquiries .enquiries_title {
    font-size: calc(16px + 4 * 0.0520833333vw);
  }
}
.dashboard .enquiries .line {
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #FFFFFF 0%, #1F2022 25%, #1F2022 50%, #1F2022 75%, #FFFFFF 100%);
}
.dashboard .enquiries .enquiries_list_wrapper {
  padding: 0 10px;
  padding-top: 12px;
  width: 100%;
  flex: 1;
  overflow: auto;
}
.dashboard .enquiries .enquiries_list_wrapper .enquiries_list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 5px;
}
.dashboard .enquiries .enquiries_list_wrapper .enquiries_list .enquiries_item {
  display: grid;
  grid-template-columns: minmax(270px, 1fr) minmax(141px, 1fr) 416px;
  align-items: center;
  gap: 12px;
  font-size: 16px;
}
.dashboard .enquiries .enquiries_list_wrapper .enquiries_list .enquiries_item .time {
  text-align: center;
}
.dashboard .shop {
  display: flex;
  align-items: center;
  gap: 34px;
  margin-top: 20px;
}
.dashboard .shop .shop_tabs {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
}
.dashboard .shop .shop_tabs .shop_tab_item {
  position: relative;
  line-height: 20.5px;
  cursor: pointer;
}
.dashboard .shop .shop_tabs .shop_tab_item::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--black);
}
.dashboard .shop .shop_tabs .shop_tab_item.active::before {
  width: 100%;
}
.dashboard .total {
  display: flex;
  align-items: flex-end;
  gap: 26px;
  margin-top: 24px;
}
.dashboard .total .input_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
  gap: 12px;
}
.dashboard .total .input_block .total_input {
  width: 100%;
}
.dashboard .total .input_block .total_input .total_input_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  height: 44px;
  padding: 0 10px;
  border: 1px solid var(--green);
  margin-top: 2px;
}
.dashboard .total .input_block .total_input .total_input_wrapper input {
  height: 100%;
  flex: 1;
  color: var(--green);
}
@media (max-width: 768px) {
  .dashboard .total .input_block .total_input .total_input_wrapper input {
    font-size: calc(14px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .dashboard .total .input_block .total_input .total_input_wrapper input {
    font-size: calc(14px + 2 * 0.0520833333vw);
  }
}
.dashboard .total .button_block {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
}
.dashboard .total .button_block .main_button {
  max-width: 208px;
  padding: 0 20px;
}
@media screen and (max-width: 960px) {
  .dashboard .total {
    flex-wrap: wrap;
    gap: 12px;
  }
  .dashboard .total .auction_spoiler {
    max-width: 100%;
    min-width: 150px;
    flex: 1;
  }
  .dashboard .total .auction_buttons {
    flex: 1;
  }
  .dashboard .total .auction_buttons .main_button {
    max-width: none;
  }
}/*# sourceMappingURL=dashboard.css.map */