@import './../../../style/common';

.dashboard {
    opacity: 0;
    animation: Open 0.5s forwards;
    .line {
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, #FFFFFF 0%, #1F2022 25%, #1F2022 50%, #1F2022 75%, #FFFFFF 100%);
    }

    .auction {

        .auction_flex {
            display: flex;
            align-items: center;
            gap: 24px;
            margin-top: 2px;
            margin-bottom: 12px;

            .auction_spoiler {
                height: 44px;
                border: 1px solid var(--black);
                padding: 12px 10px;
                width: 100%;
                max-width: 458px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;

                & p {
                    font-size: 16px;
                    color: var(--black);
                }
            }

            .auction_buttons {
                display: flex;
                align-items: center;
                gap: 12px;
                flex: 1;

                & .main_button {
                    max-width: 208px;
                    padding: 0 20px;
                }
            }

            @include mediaMaxWidth(960) {
                flex-wrap: wrap;
                gap: 12px;

                .auction_spoiler {
                    max-width: 100%;
                    min-width: 150px;
                    flex: 1;
                }

                .auction_buttons {
                    flex: 1;
                    & .main_button {
                        max-width: none;
                    }
                }
            }
        }
    }

    .bets {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        align-items: flex-end;
        gap: 12px;
        width: 100%;

        & .main_input {
            flex: 1;
        }

        .turnover_input {
            flex: 1;

            .turnover_input_wrapper {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 12px;
                justify-content: space-between;
                height: 44px;
                padding: 0 10px;
                border: 1px solid var(--red);
                margin-top: 2px;

                & input {
                    height: 100%;
                    flex: 1;
                    @include adaptiveFont(16, 14);
                    color: var(--red);
                }
            }
        }
    }

    .tables_grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 12px;
        margin-top: 20px;

        .bidder_table, .latest_bids {
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 218px;
            max-height: 218px;
            border: 1px solid var(--black);
            
            .table_title {
                margin-bottom: 6px;
                padding: 10px 10px 0 10px;
                display: flex;
                align-items: center;
                gap: 20px;
                justify-content: space-between;
    
                & h3 {
                    text-transform: uppercase;
                    @include adaptiveFont(20, 16);
                    color: var(--black2);   
                    font-weight: 450;
                    line-height: 25.64px;
                }

                .arrow_flex {
                    display: flex;
                    align-items: center;

                    & h4 {
                        font-size: 16px;
                        color: var(--black);
                    }
                }
            }
    
            .table_list_wrapper {
                padding: 0 10px;
                width: 100%;
                flex: 1;
                overflow: hidden;
                margin-top: 16px;
    
                .table_list {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
    
                    .bidder_item {
                        display: grid;
                        grid-template-columns: minmax(178px, 1fr) 1fr 116px;
                        align-items: center;
                        gap: 12px;
                        font-size: 14px;
                        height: 21px;
                        color: var(--black);

                        .name {
                            color: var(--link);
                        }

                        .summ {
                            text-align: center;
                        }

                        .start {
                            display: flex;
                            gap: 8px;
                            align-items: center;
                            justify-content: flex-end;

                            & .menu{
                                display: flex;
                                align-items: center;
                                gap: 2px;
                                flex-direction: column;
                                width: 16px;
                                flex-shrink: 0;

                                & span {
                                    display: block;
                                    width: 2px;
                                    height: 2px;
                                    background-color: var(--black);
                                    border-radius: 50%;
                                }
                            }
                        }
                    }

                    .latest_bids_item {
                        display: grid;
                        grid-template-columns: minmax(97px, 1fr) minmax(125px, 1fr) minmax(122px, 1fr) 53px;
                        align-items: center;
                        height: 18px;
                        gap: 12px;
                        font-size: 14px;

                        .lot_num {
                            color: var(--link);
                        }

                        .time, .name {
                            text-align: center;
                        }

                        .start {
                            text-align: end;
                            color: var(--green);
                        }
                    }
                }
            }
        }
    }

    .enquiries {
        margin-top: 20px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 222px;
        max-height: 222px;
        border: 1px solid var(--black);
        
        .enquiries_title {
            margin-bottom: 12px;
            padding: 10px 10px 0 10px;
            text-transform: uppercase;
            @include adaptiveFont(20, 16);
            color: var(--black2);   
            font-weight: 450;
        }

        .line {
            width: 100%;
            height: 1px;
            background: linear-gradient(90deg, #FFFFFF 0%, #1F2022 25%, #1F2022 50%, #1F2022 75%, #FFFFFF 100%);
        }

        .enquiries_list_wrapper {
            padding: 0 10px;
            padding-top: 12px;
            width: 100%;
            flex: 1;
            overflow: auto;

            .enquiries_list {
                display: flex;
                flex-direction: column;
                gap: 4px;
                padding: 0 5px;

                .enquiries_item {
                    display: grid;
                    grid-template-columns: minmax(270px, 1fr) minmax(141px, 1fr) 416px;
                    align-items: center;
                    gap: 12px;
                    font-size: 16px;

                    .time {
                        text-align: center;
                    }
                }
            }
        }
    }

    .shop {
        display: flex;
        align-items: center;
        gap: 34px;
        margin-top: 20px;

        .shop_tabs {
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 16px;

            .shop_tab_item {
                position: relative;
                line-height: 20.5px;
                cursor: pointer;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background-color: var(--black);
                }

                &.active {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }

    .total {
        display: flex;
        align-items: flex-end;
        gap: 26px;
        margin-top: 24px;

        .input_block {
            display: grid;
            // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            grid-template-columns: 1fr 1fr;
            align-items: flex-end;
            gap: 12px;

            .total_input {
                width: 100%;

                .total_input_wrapper {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    justify-content: space-between;
                    height: 44px;
                    padding: 0 10px;
                    border: 1px solid var(--green);
                    margin-top: 2px;
    
                    & input {
                        height: 100%;
                        flex: 1;
                        @include adaptiveFont(16, 14);
                        color: var(--green);
                    }
                }
            }
        }

        .button_block {
            display: flex;
            align-items: center;
            gap: 12px;
            flex: 1;

            & .main_button {
                max-width: 208px;
                padding: 0 20px;
            }
        }

        @include mediaMaxWidth(960) {
            flex-wrap: wrap;
            gap: 12px;

            .auction_spoiler {
                max-width: 100%;
                min-width: 150px;
                flex: 1;
            }

            .auction_buttons {
                flex: 1;
                & .main_button {
                    max-width: none;
                }
            }
        }
    }
}