@import './../../../style/common';

.detail {
    flex: 1;
    opacity: 0;
    animation: Open 0.5s forwards;
    .detail_head {
        display: flex;
        align-items: center;
        svg {
            cursor: pointer;
            @include mediaMaxWidth(700) {
                display: none;
            }
        }
        button {
            @include adaptiveFont(22, 18);
            span,
            p {
                color: var(--grey);
            }
            span {
                @include mediaMaxWidth(700) {
                    display: none;
                }
            }
        }
    }

    .detail_wrapper {
        display: grid;
        grid-template-columns: 520fr 1px 580fr 20px;
        grid-template-areas: 
            'a c d e'
            'b c d e'
            'b c d e'
            'b c d e'
            'b c d e'
            'b c d e'
            'b c d e'
            'b c d e'
            'b c d e'
            'b c d e'
            'b c d e'
            'b c d e'
        ;
        margin-top: 20px;
        padding-right: 10px;
        gap: 10px;
        @include mediaMaxWidth(768) {
            display: block;
            padding: 0;
            margin-top: 12px;
        }
        .preview {
            grid-area: a;
            @include mediaMinWidth(768) {
                display: grid;
                grid-template-columns: 93px 1px 1fr;
                grid-auto-rows: auto;
                gap: 10px;
            }
            .vertical_lots {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding-top: 24px;
                @include mediaMaxWidth(768) {
                    display: none;
                }
                img {
                    width: 74px;
                    cursor: pointer;
                    border: 1px solid transparent;
                    min-height: 38px;
                    &.current {
                        width: 93px;
                    }
                    &:hover {
                        border: 1px solid var(--grey);
                    }
                }
            }
            .preview_lot {
                display: flex;
                flex-direction: column;
                gap: 12px;
                @include mediaMinWidth(769) {
                    padding-top: 24px;
                }
                .status {
                    height: 29px;
                    &.color4 {
                        background-color: var(--green);
                    }
                }
                .main_window {
                    width: 100%;
                    margin: auto 0;
                    align-self: center;
                    .main_splider {
                        width: 100%;
                        min-width: 280px;
                        .splide__slide  {
                            width: 100%;
                        }
                    }
                    img {
                        width: 100%;
                    }
                }
                .lot_images {
                    display: flex;
                    gap: 7px;
                    @include mediaMaxWidth(768) {
                        display: none;
                    }
                    .horiz_splider {
                        width: 100%;
                        .splide__slide {
                            cursor: pointer;
                            width: 64px;
                            border: 1px solid transparent;
                            img {
                                width: 100%;
                            }
                            &.is-active {
                                border: 1px solid var(--grey);
                            }
                        }
                    }
                }
            }
        }

        .mobile_head {
            display: flex;
            align-items: center;
            gap: 9dvw;
            border-bottom: 2px solid var(--grey);
            margin-top: 24px;
            margin-bottom: 24px;
            @include mediaMinWidth(769) {
                display: none;
            }
            .tab {
                text-transform: uppercase;
                font-size: 20px;
                padding-bottom: 5px;
                color: var(--grey);
                transition: 0.3s;
                cursor: pointer;
                font-weight: 450;
                span {
                    position: relative;
                    width: max-content;
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -4px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: transparent;
                        transition: 0.3s;
                    }
                }
                &::before {
                    content: '';
                    width: 100%;
                }
                &.active {
                    color: var(--blue);
                    span::before {
                        background-color: var(--blue);
                    }
                }
                &:hover {
                    color: var(--blue);
                }
            }
        }

        .left_panel {
            grid-area: b;
            @include mediaMaxWidth(768) {
                display: none;
                opacity: 0;
                animation: Open 0.8s forwards;
                &.open {
                    display: block;
                }
            }
            .calendar_wrapper {
                display: flex;
                align-items: center;
                gap: 9px;
                margin-top: 5px;
                .calendar_field {
                    flex: 1;
                    width: 100%;
                    .label {
                        color: var(--black2);
                        width: 100%;
                        display: grid;
                        grid-template-columns: 1fr;
                        margin-bottom: 5px;
                        span {
                            font-weight: 450;
                            @include adaptiveFont(20, 16);
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                    .calendar {
                        position: relative;
                        height: 44px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 10px;
                        border: 1px solid var(--black);
                        font-size: 16px;
                        padding: 0 10px;
                        &.error {
                            border: 1px solid var(--red);
                        }
                        input {
                            flex: 1;
                            font-size: 16px;
                            width: 100%;
                        }
                        .calendar_list_wrapper {
                            position: absolute;
                            top: -1px;
                            left: -1px;
                            z-index: 20;
                            @include mediaMaxWidth(768) {
                                position: fixed;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                z-index: 300;
                                background-color: rgba(31, 32, 34, 0.2);
                                animation: Open 0.5s forwards;
                                opacity: 0;
                            }
                            .calendar_list {
                                background-color: var(--white);
                                border: 2px solid var(--black);
                                padding: 10px;
                                width: 375px;
                                @include mediaMaxWidth(768) {
                                    width: 343px;
                                }
                                .head {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    gap: 10px;
                                    font-size: 16px;
                                }
                                .control {
                                    display: flex;
                                    width: 100%;
                                    align-items: center;
                                    justify-content: space-between;
                                    .months {
                                        margin-top: 22px;
                                        margin-bottom: 24px;
                                    }
                                    .button_control {
                                        display: flex;
                                        align-items: center;
                                        gap: 10px;
                                    }
                                }
                                .calendar_grid {
                                    display: grid;
                                    grid-template-columns: repeat(7, 1fr);
                                    grid-auto-rows: auto;
                                    column-gap: 18px;
                                    row-gap: 25px;
                                    padding: 7px;
                                    @include mediaMaxWidth(768) {
                                        column-gap: 7px;
                                        row-gap: 20px;
                                    }
                                    .calendar_item {
                                        width: 32px;
                                        height: 32px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        @include adaptiveFont(16, 14);
                                        cursor: pointer;
                                        &.active {
                                            background-color: var(--blue);
                                            color: var(--white);
                                        }
                                        &:hover {
                                            border: 1px solid var(--blue);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .a {
                display: grid;
                grid-template-columns: minmax(90px, 1fr) minmax(90px, 1fr) minmax(90px, 1fr);
                grid-auto-rows: auto;
                gap: 9px;
                margin-top: 5px;
                // @include mediaMaxWidth(768) {
                //     grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
                // }
            }
            .b {
                display: flex;
                gap: 9px;
                flex-wrap: wrap;
                margin-top: 9px;
                .main_input {
                    flex: 1;
                    min-width: 100px;
                }
                button {
                    flex: 1;
                    min-width: 80px;
                }
                &.button_block {
                    margin-top: 24px;
                    margin-bottom: 20px;
                    @include mediaMaxWidth(768) {
                        flex-direction: column;
                        button {
                            flex: 1;
                            min-height: 44px;
                        }
                    }
                }
            }
            .c {
                display: grid;
                grid-template-columns: minmax(90px, 1fr) minmax(90px, 1fr);
                grid-auto-rows: auto;
                gap: 9px;
                margin-top: 9px;
            }
        }

        .right_panel {
            grid-area: d;
            @include mediaMaxWidth(768) {
                display: none;
                opacity: 0;
                animation: Open 0.8s forwards;
                &.open {
                    display: block;
                }
            }
            .text_area_field {
                margin-top: 8px;
            }
            .a {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                gap: 8px;
                input {
                    display: block;
                }
                .qr {
                    & label {
                        color: var(--black2);
                        width: 100%;
                        display: grid;
                        grid-template-columns: 1fr;
                        margin-bottom: 5px;
                        span {
                            font-weight: 450;
                            @include adaptiveFont(20, 16);
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                    
                    .stock_field {
                        display: flex;
                        align-items: center;
                        height: 44px;
                        padding: 0 10px;
                        border: 1px solid var(--black);
                        gap: 10px;
                        input {
                            width: 100%;
                            @include adaptiveFont(16, 14);
                        }
                    }
                }
            }

            .b {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: auto;
                gap: 8px;
                margin-top: 8px;
            }

            .c {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                column-gap: 8px;
                row-gap: 12px;
                margin-top: 12px;
                .main_input {
                    flex: 1;
                    min-width: 80px;
                }
            }

            .buttons {
                display: flex;
                align-items: center;
                gap: 8px;
                flex-wrap: wrap;
                margin-top: 36px;
                margin-bottom: 8px;
                button {
                    flex: 1;
                }
                @include mediaMaxWidth(768) {
                    flex-direction: column;
                    margin-top: 20px;
                }
            }
        }
        .status_block {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            box-sizing: border-box;
            grid-area: e;
            padding-top: 23px;
            .status_item {
                width: 10px;
                flex: 1;
                cursor: pointer;
                &.active {
                    width: 20px;
                }
                &.green {
                    background-color: var(--green2);
                }
                &.burgundy {
                    background-color: var(--burgundy);
                }
                &.blue {
                    background-color: var(--blue2);
                }
                &.violet {
                    background-color: var(--violet);
                }
                @include mediaMinWidth(992) {
                    &:hover {
                        border: 2px solid var(--grey);
                    }
                }
            }
        }

        .mobile_panel {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: var(--black);
            padding: 12px 15px;
            height: 65px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            z-index: 200;
            @include mediaMinWidth(701) {
                display: none;
            }
            .mobile_panel_popup {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, calc(-100% - 12px));
                width: 175px;
                height: 128px;
                display: flex;
                gap: 10px;
                z-index: 300;
                background-color: var(--white);
                border: 1px solid var(--black);
                display: none;
                opacity: 0;
                &.open {
                    display: flex;
                    animation: Open 0.4s forwards;
                }
                .buttons {
                    width: 100%;
                    flex: 10;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    padding-top: 5px;
                    button {
                        font-size: 16px;
                        width: 100%;
                        height: 21px;
                        padding: 0 10px;
                        text-align: start;
                        &.active {
                            background-color: var(--blue);
                            color: var(--white);
                        }
                    }
                }
                .status_block {
                    padding-top: 0;
                    flex: 1;
                    min-width: 30px;
                    max-width: 30px;
                    .status_item {
                        width: 20px;
                        &.active {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .timeline {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 40dvh;
        max-height: 40dvh;
        border: 1px solid var(--black);
        @include mediaMaxWidth(768) {
            display: none;
        }

        .timeline_title {
            margin-bottom: 12px;
            padding: 10px 10px 0 10px;
            display: flex;
            gap: 20px;
            justify-content: space-between;

            & h3 {
                text-transform: uppercase;
                @include adaptiveFont(20, 16);
                color: var(--black2);   
                font-weight: 450;
            }
        }

        .line {
            width: 100%;
            height: 1px;
            background: linear-gradient(90deg, #FFFFFF 0%, #1F2022 25%, #1F2022 50%, #1F2022 75%, #FFFFFF 100%);
        }

        .timeline_list_wrapper {
            padding: 0 10px;
            padding-top: 12px;
            width: 100%;
            flex: 1;
            overflow: auto;

            .timeline_header {
                display: grid;
                grid-template-columns: minmax(270px, 1fr) minmax(310px, 1fr) minmax(290px, 1fr) minmax(154px, 1fr);
                align-items: center;
                gap: 12px;
                margin-bottom: 8px;
                padding: 0 5px;

                *{
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    font-size: 16px;
                    color: var(--black);
                }
            }

            .timeline_list {
                display: flex;
                flex-direction: column;
                gap: 4px;
                padding: 0 5px;

                .timeline_item {
                    display: grid;
                    grid-template-columns: minmax(270px, 1fr) minmax(310px, 1fr) minmax(290px, 1fr) minmax(154px, 1fr);
                    align-items: center;
                    gap: 12px;
                    font-size: 16px;

                    .time {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 3px;
                    }

                    &:nth-child(1) {
                        color: var(--green);
                    }
                    &:nth-child(2) {
                        color: #1D7C00;
                    }
                    &:nth-child(3) {
                        color: #135000;
                    }
                    &:nth-child(3) {
                        color: #051400;
                    }
                }
            }
        }
    }
}