@import './../../../style/common';

footer {
    position: relative;
    margin-top: auto;
    padding: 70px 0;
    background-color: var(--blue);
    z-index: 150;
    
    @include mediaMaxWidth(768) {
        padding: 40px 0;
    }

    .container {
        display: flex;
        gap: 30px;
        justify-content: space-between;

        @include mediaMaxWidth(768) {
            flex-direction: column;
            align-items: center;
        }
    }

    .logo {
        width: 100%;
        @include adaptiveProperty(width, 181, 111);
    }

    .policy {
        color: var(--white);
        font-size: 16px;
        text-decoration: underline;
        height: max-content;
    }
}