@import './../../../style/common';

.stock {
    opacity: 0;
    animation: Open 0.5s forwards;
    .custom_input {
        width: 100%;
        margin-bottom: 12px;

        & label {
            display: block;
            font-weight: 450;
            @include adaptiveFont(20, 16);
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        .custom_input_wrapper {
            padding: 0 10px;
            height: 48px;
            border: 1px solid var(--grey);
            width: 100%;
            display: flex;
            align-items: center;
            gap: 8px;

            & input {
                flex: 1;
            }
        }
    }

    .filter_buttons {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 20px 0;

        & .main_button {
            flex: 1;
            @include adaptiveFont(20, 16);
            font-weight: 450;
            white-space: nowrap;
            padding: 0 7px;
        }

        & img {
            margin-left: 6px;
            cursor: pointer;
        }

        @include mediaMaxWidth(960) {

            & .main_button {
                padding: 0 15px;
            }
            flex-wrap: wrap;
        }
    }

    .table_wrapper {
        width: 100%;
        height: 50dvh;

        .cell_description {
            justify-content: flex-start;
        }
        .authority_description {
            justify-content: flex-start;
        }

        .status_cell {
            .status_cell_content {
                width: 90px;
                height: 44px;
    
                &.color0 {
                    // background-color: ;
                }
                &.color1 {
                    background-color: var(--green);
                }
                &.color2 {
                    background-color: yellow;
                }
                &.color3 {
                    background-color: var(--red);
                }
                &.color4 {
                    background-color: var(--green2);
                }
                &.color5 {
                    background-color: rgba(137, 43, 226, 0.655);
                }
                &.color6 {
                    background-color: rgba(58, 36, 0, 0.623);
                }
            }
        }

        .settings_cell {
            overflow: visible;
        }
        
    }

    .table_filters {
        flex: 1;
        flex-shrink: 0;
        display: flex;
        align-items: flex-end;
        gap: 12px 20px;

        .button_flex {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .input_flex {
            display: flex;
            gap: 20px;
            align-items: flex-end;
            flex: 1;

            @include mediaMinWidth(768) {
                & .main_button {
                    max-width: 202px;
                }
            }
            
            @include mediaMinWidth(440) {
                & .main_input {
                    min-width: 100px;
                }
            }
        }


        @include mediaMaxWidth(768) {
            justify-content: space-between;
            // flex-wrap: wrap;
        }
        @include mediaMaxWidth(500) {
            flex-wrap: wrap;
            gap: 12px;

            .input_flex {
                gap: 12px;
            }
        }
    }

    .timeline {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 40dvh;
        max-height: 40dvh;
        border: 1px solid var(--black);
        
        .timeline_title {
            margin-bottom: 12px;
            padding: 10px 10px 0 10px;
            display: flex;
            gap: 20px;
            justify-content: space-between;

            & h3 {
                text-transform: uppercase;
                @include adaptiveFont(20, 16);
                color: var(--black2);   
                font-weight: 450;
            }
        }

        .line {
            flex-shrink: 0;
            min-height: 1px;
            width: 100%;
            height: 1px;
            background: linear-gradient(90deg, #FFFFFF 0%, #1F2022 25%, #1F2022 50%, #1F2022 75%, #FFFFFF 100%);
            @include adaptiveProperty(margin-top, 12, 0);
            @include adaptiveProperty(margin-bottom, 12, 0);
        }

        .timeline_list_wrapper {
            padding: 0 10px;
            padding-top: 12px;
            width: 100%;
            flex: 1;
            overflow: auto;

            .timeline_header {
                display: grid;
                grid-template-columns: minmax(270px, 1fr) minmax(310px, 1fr) minmax(290px, 1fr) minmax(154px, 1fr);
                align-items: center;
                gap: 12px;
                margin-bottom: 8px;
                padding: 0 5px;

                *{
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    font-size: 16px;
                    color: var(--black);
                }

                @include mediaMaxWidth(768) {
                    display: none;
                }
            }

            .timeline_list {
                display: flex;
                flex-direction: column;
                gap: 4px;
                padding: 0 5px;

                @include mediaMaxWidth(768) {
                    gap: 10px;
                }

                .timeline_item {
                    display: grid;
                    grid-template-columns: minmax(270px, 1fr) minmax(310px, 1fr) minmax(290px, 1fr) minmax(154px, 1fr);
                    align-items: center;
                    gap: 12px;
                    font-size: 16px;

                    .mob_title {
                        display: none;
                        @include adaptiveFont(16, 14);
                        font-weight: 450;
                        margin-bottom: 2px;
                    }

                    .name {
                        @include adaptiveFont(16, 14);
                    }

                    .time {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 3px;
                        @include adaptiveFont(16, 14);
                    }

                    &:nth-child(1) {
                        color: var(--green);
                    }
                    &:nth-child(2) {
                        color: #1D7C00;
                    }
                    &:nth-child(3) {
                        color: #135000;
                    }
                    &:nth-child(3) {
                        color: #051400;
                    }

                    @include mediaMaxWidth(768) {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 6px;
                        width: 100%;

                        .mob_title {
                            display: block;
                        }

                        .time {
                            align-self: flex-end;
                        }
                    }
                }
            }
        }
    }
    
}