@charset "UTF-8";
/*-------------Миксины----------------*/
.stock {
  opacity: 0;
  animation: Open 0.5s forwards;
}
.stock .custom_input {
  width: 100%;
  margin-bottom: 12px;
}
.stock .custom_input label {
  display: block;
  font-weight: 450;
  text-transform: uppercase;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .stock .custom_input label {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .stock .custom_input label {
    font-size: calc(16px + 4 * 0.0520833333vw);
  }
}
.stock .custom_input .custom_input_wrapper {
  padding: 0 10px;
  height: 48px;
  border: 1px solid var(--grey);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.stock .custom_input .custom_input_wrapper input {
  flex: 1;
}
.stock .filter_buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 20px 0;
}
.stock .filter_buttons .main_button {
  flex: 1;
  font-weight: 450;
  white-space: nowrap;
  padding: 0 7px;
}
@media (max-width: 768px) {
  .stock .filter_buttons .main_button {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .stock .filter_buttons .main_button {
    font-size: calc(16px + 4 * 0.0520833333vw);
  }
}
.stock .filter_buttons img.settings_btn {
  margin-left: 6px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .stock .filter_buttons img.settings_btn {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .stock .filter_buttons {
    gap: 6px;
    flex-wrap: wrap;
  }
  .stock .filter_buttons .main_button {
    padding: 0 15px;
  }
}
@media screen and (max-width: 768px) {
  .stock .filter_buttons {
    gap: 12px;
  }
}
.stock .table_wrapper {
  width: 100%;
  height: 50dvh;
}
.stock .table_wrapper .cell_description {
  justify-content: flex-start;
}
.stock .table_wrapper .authority_description {
  justify-content: flex-start;
}
.stock .table_wrapper .status_cell .status_cell_content {
  width: 90px;
  height: 44px;
}
.stock .table_wrapper .status_cell .status_cell_content.color1 {
  background-color: var(--green);
}
.stock .table_wrapper .status_cell .status_cell_content.color2 {
  background-color: yellow;
}
.stock .table_wrapper .status_cell .status_cell_content.color3 {
  background-color: var(--red);
}
.stock .table_wrapper .status_cell .status_cell_content.color4 {
  background-color: var(--green2);
}
.stock .table_wrapper .status_cell .status_cell_content.color5 {
  background-color: rgba(137, 43, 226, 0.655);
}
.stock .table_wrapper .status_cell .status_cell_content.color6 {
  background-color: rgba(58, 36, 0, 0.623);
}
.stock .table_wrapper .settings_cell {
  overflow: visible;
}
.stock .table_filters {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
  gap: 12px 20px;
}
.stock .table_filters .button_flex {
  display: flex;
  align-items: center;
  gap: 8px;
}
.stock .table_filters .input_flex {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  flex: 1;
}
@media screen and (min-width: 768px) {
  .stock .table_filters .input_flex .main_button {
    max-width: 202px;
  }
}
@media screen and (min-width: 440px) {
  .stock .table_filters .input_flex .main_input {
    min-width: 100px;
  }
}
@media screen and (max-width: 768px) {
  .stock .table_filters {
    justify-content: space-between;
  }
}
@media screen and (max-width: 500px) {
  .stock .table_filters {
    flex-wrap: wrap;
    gap: 12px;
  }
  .stock .table_filters .input_flex {
    gap: 12px;
  }
}/*# sourceMappingURL=stock.css.map */