@import './../../../style/common';

.main_input {
    width: 100%;
    overflow: hidden;
    
    & label {
        color: var(--black2);
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        span {
            font-weight: 450;
            @include adaptiveFont(20, 16);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    
    & input {
        height: 44px;
        padding: 0 10px;
        width: 100%;
        border: 1px solid var(--black);
        @include adaptiveFont(16, 14);

        &.grey {
            border: 1px solid var(--grey);
        }
    }

}