@import './../../../../../style/common';

.custom_table {
    position: relative;
    width: 100%;
    overflow: auto;
    min-height: 50dvh;
    max-height: 50dvh;
    height: 50dvh;
    @include adaptiveProperty(margin-bottom, 12, 20);

    .stock_loading {
        width: 100%;
        height: calc(100% - 50px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: var(--black);
        background-color: var(--white);
    }

    .custom_table_header {
        position: sticky;
        border: 1px solid var(--black);
        border-right: 0;
        display: flex;
        top: 0;
        z-index: 10;

        @include mediaMinWidth(768) {
            width: max-content;
        }
        @include mediaMaxWidth(415) {
            width: max-content;
        }

        * {
            position: relative;
            flex-shrink: 0;
            border-right: 1px solid var(--black);
            background: var(--brown2);
            @include adaptiveFont(18, 16);
            color: var(--white);
            text-transform: uppercase;
            padding: 10px;
            height: 44px;
            text-align: center;
            line-height: 23.08px;
            font-weight: 450;
            cursor: pointer;
            white-space: nowrap;

            &.no_show  {
                display: none;
            }

            &.mobile {
                @include mediaMaxWidth(768) {
                    display: none;
                }
            }
        }

        .arrow {
            &::after {
                content: '';
                position: absolute;
                display: none;
                right: 0;
                top: 50%;
                width: 10px;
                height: 20px;
                transform: translateY(-50%);
                background-image: url('/icons/white_arrow.svg');
                background-repeat: no-repeat;
                background-size: cover;
            }

            @include mediaMinWidth(992) {
                &:hover:after {
                    display: block;
                }
            }

            &.ASC {
                &::after {
                    display: block;
                }
            }

            &.DESC {
                &::after {
                    display: block;
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }

        .stock {
            width: 80px;
            border-right: 0;
            text-align: left;

            @include mediaMaxWidth(768) {
                flex: 1;
                min-width: 71px;
                width: 71px;
            }
        }

        .qr {
            width: 50px;

            @include mediaMaxWidth(768) {
                flex: 1;
                min-width: 44px;
                width: 44px;
            }
        }

        .media {
            width: 73px;

            @include mediaMaxWidth(768) {
                flex: 1;
                min-width: 67px;
                width: 67px;
            }
        }

        .sales_chanel {
            width: 149px;

            @include mediaMaxWidth(768) {
                flex: 1;
                min-width: 135px;
                width: 135px;
            }
        }

        .lot {
            width: 71px;

            @include mediaMaxWidth(768) {
                flex: 1;
                min-width: 65px;
                width: 65px;
            }
        }

        .category {
            width: 106px;
        }

        .region {
            width: 85px;
        }

        .city_mint {
            width: 108px;
        }
        .authority {
            width: 127px;
        }

        .metal {
            width: 71px;
        }

        .nominal {
            width: 100px;
        }

        .description {
            width: 125px;
        }

        .location {
            width: 103px;
        }

        .date {
            width: 91px;
        }

        .status {
            width: 76px;
        }

        .settings {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;

            & img {
                padding: 0;
                max-width: 30px;
                height: 30px;
                border-right: 0;
                background: transparent;
            }

            &.no_show  {
                display: none !important;
            }

            @include mediaMaxWidth(768) {
                display: none;
            }
        }
    }

    .custom_table_list {
        display: flex;
        flex-direction: column;
        
        @include mediaMinWidth(768) {
            width: max-content;
        }

        
        .custom_table_item {
            display: flex;
            border-left: 1px solid var(--black);
            border-bottom: 1px solid var(--black);
            
            @include mediaMinWidth(768) {
                width: max-content;
            }
            @include mediaMaxWidth(415) {
                width: max-content;
            }

            * {
                &.no_show  {
                    display: none;
                }

                &.mobile {
                    @include mediaMaxWidth(768) {
                        display: none;
                    }
                }
            }

            .all {
                position: relative;
                flex-shrink: 0;
                border-right: 1px solid var(--black);
                @include adaptiveFont(16, 14);
                color: var(--black);
                padding: 10px;
                @include adaptiveProperty(line-height, 20.51, 17.95);
                @include adaptiveProperty(height, 44, 38);
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                cursor: default;
            }
    
            .stock {
                width: 80px;
                border-right: 0;
                background: #DFDFDF;
                text-align: left;
                cursor: pointer;

                @include mediaMaxWidth(768) {
                    flex: 1;
                    min-width: 71px;
                    width: 71px;
                }
            }
    
            .qr {
                padding: 0 10px; 
                display: flex;
                align-items: center;
                justify-content: center;
                & img {
                    width: 30px;
                    height: 30px;
                }
                width: 50px;
                background: #DFDFDF;

                &.no_show  {
                    display: none !important;
                }

                @include mediaMaxWidth(768) {
                    flex: 1;
                    min-width: 44px;
                    width: 44px;

                    & img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
    
            .media {
                padding: 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 73px;

                & img {
                    height: 30px;
                    width: 56px;
                }

                &.no_show  {
                    display: none !important;
                }

                @include mediaMaxWidth(768) {
                    flex: 1;
                    min-width: 67px;
                    width: 67px;
                }
            }
    
            .sales_chanel {
                width: 149px;

                @include mediaMaxWidth(768) {
                    flex: 1;
                    min-width: 135px;
                    width: 135px;
                }
            }
    
            .lot {
                width: 71px;

                @include mediaMaxWidth(768) {
                    flex: 1;
                    min-width: 65px;
                    width: 65px;
                }
            }
    
            .category {
                width: 106px;
            }
    
            .region {
                width: 85px;
            }
    
            .city_mint {
                width: 108px;
            }
            .authority {
                width: 127px;
            }
    
            .metal {
                width: 71px;
            }

            .nominal {
                width: 100px;
            }
    
            .description {
                width: 125px;
            }
    
            .location {
                width: 103px;
            }
    
            .date {
                width: 91px;
            }
    
            .status {
                width: 76px;

                &.color0 {
                    // background-color: ;
                }
                &.color1 {
                    background-color: var(--violet);
                }
                &.color2 {
                    background-color: var(--blue2);
                }
                &.color3 {
                    background-color: var(--burgundy);
                }
                &.color4 {
                    background-color: var(--green);
                }
                &.color5 {
                    background-color: var(--sold);
                }
                &.color6 {
                    background-color: var(--withdraw);
                }
            }
    
            .settings {
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                overflow: visible;
    
                & img {
                    padding: 0;
                    max-width: 30px;
                    height: 30px;
                    border-right: 0;
                    background: transparent;
                }

                &.no_show  {
                    display: none !important;
                }

                @include mediaMaxWidth(768) {
                    display: none;
                }
            }

            &:nth-last-child(-n+4) .settings .cell_menu .cell_menu_list {
                top: unset;
                bottom: 100%;
            }
        }
    }
}

.pagination_flex {
    display: flex;
    margin: 12px 0;
    flex-wrap: wrap-reverse;
    gap: 12px;

    @include mediaMaxWidth(768) {
        display: none;
    }
}

.custom_table_pagination {
    flex: 1;
    display: flex;
    align-items: flex-end;
    font-weight: 450;
    width: 100%;
    justify-content: flex-end;
    font-size: 20px;
    gap: 8px;

    .page{
        margin-bottom: 5px;
        margin-right: 10px;
        white-space: nowrap;
    }
}

.cell_menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 50px;
    height: 44px;
    cursor: pointer;

    & span {
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: var(--black);
    }

    .cell_menu_list {
        position: absolute;
        top: 100%;
        right: -1px;
        width: 134px;
        background-color: var(--white);
        z-index: 10;
        border: 2px solid var(--black);
        display: none;
        flex-direction: column;
        gap: 10px;
        padding: 5px 0;

        & p {
            line-height: 20.51px;
            padding: 0 10px;
            
            &.active {
                background-color: var(--blue);
                color: var(--white);
            }

            @include mediaMinWidth(992) {
                &:hover {
                    background-color: var(--blue);
                    color: var(--white);
                }
            }
        }

    }

    &.active {
        .cell_menu_list {
            display: flex;
        }
    }
}