@charset "UTF-8";
/*-------------Миксины----------------*/
.custom_table {
  position: relative;
  width: 100%;
  overflow: auto;
  min-height: 50dvh;
  max-height: 50dvh;
  height: 50dvh;
}
@media (max-width: 768px) {
  .custom_table {
    margin-bottom: calc(20px + -13.6 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .custom_table {
    margin-bottom: calc(20px + -8 * 0.0520833333vw);
  }
}
.custom_table .stock_loading {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: var(--black);
  background-color: var(--white);
}
.custom_table .custom_table_header {
  position: sticky;
  border: 1px solid var(--black);
  border-right: 0;
  display: flex;
  top: 0;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .custom_table .custom_table_header {
    width: -moz-max-content;
    width: max-content;
  }
}
@media screen and (max-width: 415px) {
  .custom_table .custom_table_header {
    width: -moz-max-content;
    width: max-content;
  }
}
.custom_table .custom_table_header * {
  position: relative;
  flex-shrink: 0;
  border-right: 1px solid var(--black);
  background: var(--brown2);
  color: var(--white);
  text-transform: uppercase;
  padding: 10px;
  height: 44px;
  text-align: center;
  line-height: 23.08px;
  font-weight: 450;
  cursor: pointer;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .custom_table .custom_table_header * {
    font-size: calc(16px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .custom_table .custom_table_header * {
    font-size: calc(16px + 2 * 0.0520833333vw);
  }
}
.custom_table .custom_table_header *.no_show {
  display: none;
}
@media screen and (max-width: 768px) {
  .custom_table .custom_table_header *.mobile {
    display: none;
  }
}
.custom_table .custom_table_header .arrow::after {
  content: "";
  position: absolute;
  display: none;
  right: 0;
  top: 50%;
  width: 10px;
  height: 20px;
  transform: translateY(-50%);
  background-image: url("/icons/white_arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 992px) {
  .custom_table .custom_table_header .arrow:hover:after {
    display: block;
  }
}
.custom_table .custom_table_header .arrow.ASC::after {
  display: block;
}
.custom_table .custom_table_header .arrow.DESC::after {
  display: block;
  transform: translateY(-50%) rotate(180deg);
}
.custom_table .custom_table_header .stock {
  width: 80px;
  border-right: 0;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .custom_table .custom_table_header .stock {
    flex: 1;
    min-width: 71px;
    width: 71px;
  }
}
.custom_table .custom_table_header .qr {
  width: 50px;
}
@media screen and (max-width: 768px) {
  .custom_table .custom_table_header .qr {
    flex: 1;
    min-width: 44px;
    width: 44px;
  }
}
.custom_table .custom_table_header .media {
  width: 73px;
}
@media screen and (max-width: 768px) {
  .custom_table .custom_table_header .media {
    flex: 1;
    min-width: 67px;
    width: 67px;
  }
}
.custom_table .custom_table_header .sales_chanel {
  width: 149px;
}
@media screen and (max-width: 768px) {
  .custom_table .custom_table_header .sales_chanel {
    flex: 1;
    min-width: 135px;
    width: 135px;
  }
}
.custom_table .custom_table_header .lot {
  width: 71px;
}
@media screen and (max-width: 768px) {
  .custom_table .custom_table_header .lot {
    flex: 1;
    min-width: 65px;
    width: 65px;
  }
}
.custom_table .custom_table_header .category {
  width: 106px;
}
.custom_table .custom_table_header .region {
  width: 85px;
}
.custom_table .custom_table_header .city_mint {
  width: 108px;
}
.custom_table .custom_table_header .authority {
  width: 127px;
}
.custom_table .custom_table_header .metal {
  width: 71px;
}
.custom_table .custom_table_header .nominal {
  width: 100px;
}
.custom_table .custom_table_header .description {
  width: 125px;
}
.custom_table .custom_table_header .location {
  width: 103px;
}
.custom_table .custom_table_header .date {
  width: 91px;
}
.custom_table .custom_table_header .status {
  width: 76px;
}
.custom_table .custom_table_header .settings {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}
.custom_table .custom_table_header .settings img {
  padding: 0;
  max-width: 30px;
  height: 30px;
  border-right: 0;
  background: transparent;
}
.custom_table .custom_table_header .settings.no_show {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .custom_table .custom_table_header .settings {
    display: none;
  }
}
.custom_table .custom_table_list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .custom_table .custom_table_list {
    width: -moz-max-content;
    width: max-content;
  }
}
.custom_table .custom_table_list .custom_table_item {
  display: flex;
  border-left: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}
@media screen and (min-width: 768px) {
  .custom_table .custom_table_list .custom_table_item {
    width: -moz-max-content;
    width: max-content;
  }
}
@media screen and (max-width: 415px) {
  .custom_table .custom_table_list .custom_table_item {
    width: -moz-max-content;
    width: max-content;
  }
}
.custom_table .custom_table_list .custom_table_item *.no_show {
  display: none;
}
@media screen and (max-width: 768px) {
  .custom_table .custom_table_list .custom_table_item *.mobile {
    display: none;
  }
}
.custom_table .custom_table_list .custom_table_item .all {
  position: relative;
  flex-shrink: 0;
  border-right: 1px solid var(--black);
  color: var(--black);
  padding: 10px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
}
@media (max-width: 768px) {
  .custom_table .custom_table_list .custom_table_item .all {
    font-size: calc(14px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .custom_table .custom_table_list .custom_table_item .all {
    font-size: calc(14px + 2 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .custom_table .custom_table_list .custom_table_item .all {
    line-height: calc(17.95px + 4.352 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .custom_table .custom_table_list .custom_table_item .all {
    line-height: calc(17.95px + 2.56 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .custom_table .custom_table_list .custom_table_item .all {
    height: calc(38px + 10.2 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .custom_table .custom_table_list .custom_table_item .all {
    height: calc(38px + 6 * 0.0520833333vw);
  }
}
.custom_table .custom_table_list .custom_table_item .stock {
  width: 80px;
  border-right: 0;
  background: #DFDFDF;
  text-align: left;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .custom_table .custom_table_list .custom_table_item .stock {
    flex: 1;
    min-width: 71px;
    width: 71px;
  }
}
.custom_table .custom_table_list .custom_table_item .qr {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  background: #DFDFDF;
}
.custom_table .custom_table_list .custom_table_item .qr img {
  width: 30px;
  height: 30px;
}
.custom_table .custom_table_list .custom_table_item .qr.no_show {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .custom_table .custom_table_list .custom_table_item .qr {
    flex: 1;
    min-width: 44px;
    width: 44px;
  }
  .custom_table .custom_table_list .custom_table_item .qr img {
    width: 24px;
    height: 24px;
  }
}
.custom_table .custom_table_list .custom_table_item .media {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73px;
}
.custom_table .custom_table_list .custom_table_item .media img {
  height: 30px;
  width: 56px;
}
.custom_table .custom_table_list .custom_table_item .media.no_show {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .custom_table .custom_table_list .custom_table_item .media {
    flex: 1;
    min-width: 67px;
    width: 67px;
  }
}
.custom_table .custom_table_list .custom_table_item .sales_chanel {
  width: 149px;
}
@media screen and (max-width: 768px) {
  .custom_table .custom_table_list .custom_table_item .sales_chanel {
    flex: 1;
    min-width: 135px;
    width: 135px;
  }
}
.custom_table .custom_table_list .custom_table_item .lot {
  width: 71px;
}
@media screen and (max-width: 768px) {
  .custom_table .custom_table_list .custom_table_item .lot {
    flex: 1;
    min-width: 65px;
    width: 65px;
  }
}
.custom_table .custom_table_list .custom_table_item .category {
  width: 106px;
}
.custom_table .custom_table_list .custom_table_item .region {
  width: 85px;
}
.custom_table .custom_table_list .custom_table_item .city_mint {
  width: 108px;
}
.custom_table .custom_table_list .custom_table_item .authority {
  width: 127px;
}
.custom_table .custom_table_list .custom_table_item .metal {
  width: 71px;
}
.custom_table .custom_table_list .custom_table_item .nominal {
  width: 100px;
}
.custom_table .custom_table_list .custom_table_item .description {
  width: 125px;
}
.custom_table .custom_table_list .custom_table_item .location {
  width: 103px;
}
.custom_table .custom_table_list .custom_table_item .date {
  width: 91px;
}
.custom_table .custom_table_list .custom_table_item .status {
  width: 76px;
}
.custom_table .custom_table_list .custom_table_item .status.color1 {
  background-color: var(--violet);
}
.custom_table .custom_table_list .custom_table_item .status.color2 {
  background-color: var(--blue2);
}
.custom_table .custom_table_list .custom_table_item .status.color3 {
  background-color: var(--burgundy);
}
.custom_table .custom_table_list .custom_table_item .status.color4 {
  background-color: var(--green);
}
.custom_table .custom_table_list .custom_table_item .status.color5 {
  background-color: var(--sold);
}
.custom_table .custom_table_list .custom_table_item .status.color6 {
  background-color: var(--withdraw);
}
.custom_table .custom_table_list .custom_table_item .settings {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  overflow: visible;
}
.custom_table .custom_table_list .custom_table_item .settings img {
  padding: 0;
  max-width: 30px;
  height: 30px;
  border-right: 0;
  background: transparent;
}
.custom_table .custom_table_list .custom_table_item .settings.no_show {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .custom_table .custom_table_list .custom_table_item .settings {
    display: none;
  }
}
.custom_table .custom_table_list .custom_table_item:nth-last-child(-n+4) .settings .cell_menu .cell_menu_list {
  top: unset;
  bottom: 100%;
}

.pagination_flex {
  display: flex;
  margin: 12px 0;
  flex-wrap: wrap-reverse;
  gap: 12px;
}
@media screen and (max-width: 768px) {
  .pagination_flex {
    display: none;
  }
}

.custom_table_pagination {
  flex: 1;
  display: flex;
  align-items: flex-end;
  font-weight: 450;
  width: 100%;
  justify-content: flex-end;
  font-size: 20px;
  gap: 8px;
}
.custom_table_pagination .page {
  margin-bottom: 5px;
  margin-right: 10px;
  white-space: nowrap;
}

.cell_menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 50px;
  height: 44px;
  cursor: pointer;
}
.cell_menu span {
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--black);
}
.cell_menu .cell_menu_list {
  position: absolute;
  top: 100%;
  right: -1px;
  width: 134px;
  background-color: var(--white);
  z-index: 10;
  border: 2px solid var(--black);
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 5px 0;
}
.cell_menu .cell_menu_list p {
  line-height: 20.51px;
  padding: 0 10px;
}
.cell_menu .cell_menu_list p.active {
  background-color: var(--blue);
  color: var(--white);
}
@media screen and (min-width: 992px) {
  .cell_menu .cell_menu_list p:hover {
    background-color: var(--blue);
    color: var(--white);
  }
}
.cell_menu.active .cell_menu_list {
  display: flex;
}/*# sourceMappingURL=custom_table.css.map */